 <div class="row">
    <div class="col-sm-2">
        <a [routerLink]="['/register']" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Novo carro</a>
    </div>
    <div class="col-sm-4">
        <input #searchWord type="text" class="form-control" placeholder="Filtrar veículos">
    </div> 
</div> 
<div class="row">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th><input type="checkbox" value=""></th>
                <th>Combustivel</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody *ngFor="let item of collection | paginate : { itemsPerPage: 2, currentPage: p }">
            <tr>
                <th><input type="checkbox" value=""></th>
                <td>{{ item.combustivel }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.modelo }}</td>
                <td>{{ item.placa }}</td>
                <td>{{ item.valor }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-sm-12 col-centered">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

