<button type="button" class="btn btn-success">Novo carro</button>

<table class="table table-striped" >
    <thead>
        <tr>
            <th><input type="checkbox" value=""></th>
            <th>Combustivel</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
            <th>Valor</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <th><input type="checkbox" value=""></th>
            <!-- <td>{{ item.combustivel }}</td>
            <td>{{ item.marca }}</td>
            <td>{{ item.modelo }}</td>
            <td>{{ item.placa }}</td>
            <td>{{ item.valor }}</td> -->
        </tr>
    </tbody>
</table>
